@font-face {
    font-family:CaesarDressing;
    src: url(../../font/CaesarDressing-Regular.ttf);
}

@font-face {
    font-family:Anton;
    src: url(../../font/Anton-Regular.ttf);
}

@font-face {
    font-family:ConcertOne;
    src: url(../../font/fonteDimGon/concert-one/ConcertOne-Regular.ttf);
}

body {
    background-color: #BAE5EB;
}

h1 {
    color: #426a83;
}
a{
    cursor: pointer;
}

* {
    margin: 0%;
    transition: opacity ease-in-out 0.2s;
}

.NavBar {
    padding: 0.5rem 0;
    background-color: #52B6C3;
    margin: 0%;
    display: flex;
    justify-content: space-between;
}

.SmallBar {
    width: 4px;
    height: 44px;
    background-color: #fff;
}

.NavBar a {
    font-family: CaesarDressing;
    color: #fff;
    height: fit-content;
    font-size: 2rem;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.NavBar a:hover{
    color: #fff;
    transform: scale(1.05);
    transition: ease-in-out .2s;
}
.NavBar img{
    width: 4rem;
}

.LogoTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.LogoTitle img{
    width: 5rem;
    
}
.Menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    min-height: 8rem;
}
#logo{
    background-color: #BAE5EB;
}
#logo h1{
    font-size:4rem ;
    font-family:ConcertOne ;
    color: #426a83;
    text-align: center;
    padding-top: 1rem;
}
#logo h2{
    font-size:2rem ;
    font-family:ConcertOne ;
    color: #426a83;
    text-align: center;
    padding: 0rem 8rem 8rem 8rem;
}

#gato{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}
#gato img{
    width: 20%; 
    padding-bottom: 3rem;
    box-sizing: border-box;
}
#gato img:hover{
    transform: scale(1.03);
    transition: ease-in-out .2s;
}
/*Dowload*/
#Dowload p{
    text-align: center;
    font-family: Concert one;
    font-size: 3rem;
    color: #fff;
    padding-top: 5rem;
    padding-bottom: 1rem;
}
#Dowload span{
    font-size: 2rem;
    color: #347c96;
    text-decoration: none;
}
#Dowload a:hover{
    transform: scale(1.03);
    transition: ease-in-out .2s;
}
#gitHub{
    text-align: center;
    font-family: Concert one;
    font-size: 1.5rem;
    padding-bottom: 5rem;
}
#gitHub a{
    color: #8430ae;
}
#gitHub img{
    width: 1.5rem;
}
#linkCompleto:hover{
    transform: scale(1.03);
    transition: ease-in-out .2s;
}

main{
    margin-left: 8rem;
    margin-right: 8rem;
}

/*video*/
#video{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
}


/*Chapas finais*/
#chapas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 5rem;
    margin-top: 5rem;
}
#chapas h1{
    font-size:4rem ;
    font-family:ConcertOne ;
    color: #426a83;
    text-align: center;
    padding-top: 1rem;
}
#chapas p{
    font-size:1rem ;
    font-family:ConcertOne ;
    color: #426a83;
    text-align: center;
}
#chapas img{
    width: 15rem;
    height: 32rem;
    margin-bottom: .5rem;
}

#chapas img:hover{
    transform: scale(1.03);
    transition: ease-in-out .2s;
}

/*Rodapé*/
footer {
    background-color: #52B6C3;
    margin-top: 10rem;
}

#infosContainer {
    display: flex;
    padding: 2rem 6rem;
    justify-content: space-between;
}

#infosContainer h2, #contacts h2 {
    font-family: CaesarDressing;
    font-size: 3rem;
    margin-bottom: 10px;
    color: #00303f;
}

#infosContainer p {
    font-size: 1.3rem;
    font-family: Anton;
    color: #fff;
}
#infosContainer img{
    width: 35px;
    padding: .2rem;
}

.socialMedia {
    display: flex;
    gap: 12px;
    font-size: 1.3rem;
    font-family: Anton;
    color: #fff;
    width: fit-content;
    text-decoration: none;
}

.socialMedia:hover {
    transform: scale(1.03);
    transition: ease-in-out .2s;
}

#teamContainer {
    text-align: center;
}
#teamContainer span{
    color:#165661 ;
}

#projectsContainer {
    text-align: left;
}
#projectsContainer a{
    display: flex;
    gap: 12px;
    font-size: 1.3rem;
    font-family: Anton;
    color: #fff;
    width: fit-content;
    text-decoration: none;
}
#projectsContainer a:hover{
    transform: scale(1.03);
    transition: ease-in-out .2s;
}

#contacts {
    display: flex;
    flex-direction: column;
    padding: 2rem 6rem;
    justify-content: space-between;
}

#contacts p {
    font-size: 1rem;
    font-family: Anton;
    color: #fff
}
#contacts span {
    font-size: 1.3rem;
    font-family: Anton;
    color: #165661;
}

#contacts h2 {
    font-family: CaesarDressing;
    font-size: 3rem;
    margin-bottom: 10px;
    
}
@media screen and (max-width: 1000px){
    .NavBar  a {
        font-size: 1.4rem;
    }
    .NavBar img{
        width: 3rem;
    }
    .NavBar #title, #barraUm {
        display: none;
    }


    /*Banner*/
    #banner {
        font-size: 1.4rem;
    }
    #logo h1{
        padding-top: 4rem;
    }
    #pata img{
        padding-top: 2rem;
        width: 40%;
    }
    #chapas{
        grid-template-columns: 1fr;
        margin-top: 5rem;
    }


    /*Jogos*/
    main{
        margin: 1rem;
    }
    #Dowload p{
        font-size: 2rem;
    }
    #Dowload span{
        font-size: 1.7rem;
    }
    #gifs{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    #gifs img{
        width: 80%;
    }
    #video iframe{
        height: 200px;
    }
    #chapas img{
        width: 80%;
        margin-bottom: 0rem;
    }


    /*Rodapé*/

    #infosContainer {
        display: flex;
        padding: 1rem 1rem;
        justify-content: space-between;
    }
    #infosContainer h2{
        font-size: 1rem;
        color: #172800;
    }
    #infosContainer a, #infosContainer p{
        font-size: 0.6rem;
    }
    #infosContainer img{
        width: 1rem;
    }
    
  
}